a {
color: darkGray;
font-family: "Bodoni MT", Didot;
font-size: 25px;
font-decoration: none;

}

a:hover {
color: B20933;
}

body {
color: darkGray;
font-family: Chivo;
font-size: 14px;
font-style: normal;
font-variant: normal;
font-weight: 400;
line-height: 20px;
background-image: url(https://images.unsplash.com/38/awhCbhLqRceCdjcPQUnn_IMG_0249.jpg?q=80&fm=jpg&s=293cce57f99e5d60745e1da9da9db675)
background-size:cover;

}
